<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-4">
            <img src="/assets/logo.png" class="img-fluid">
        </div>
        <div class="col-8 text-white mt-sm-1 mt-md-2 mt-lg-4 text-center">
            <div class="row">
                <div class="col-12">
                    <h1>Hello</h1>
                    <h1>I am</h1>
                    <h1>Joris Stoff</h1> 
                </div>
            </div>                
            <div class="row mt-5">
                <div class="col-12 text-white">
                    <h2>3D Artist</h2>
                </div>
            </div>       
        </div>        
    </div>
</div>