.background {
    background: url("/assets/banner_700.png");    
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;    
}

.color-white {
    color: white;
}

.headline {
    font-family: 'Raleway';
    font-size: 9vw;
    font-weight: bold;
}

.headline-sm {
    font-size: 4vh;
}
