<div class="container-fluid background p-0 m-0">
    <div class="row">
        <div class="col-12">
            <div class="container color-white mt-5">
                <div class="row d-none d-lg-block">
                    <div class="offset-7 col-8 text-start">
                        <h1 class="headline">Hello</h1>
                        <h1 class="headline">I am</h1>
                        <h1 class="headline">Joris Stoff</h1>
                        <button class="btn btn-secondary headline d-none">
                            About me
                        </button>
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-12">
                        <h1 class="headline-sm">Hello</h1>
                        <h1 class="headline-sm">I am</h1>
                        <h1 class="headline-sm">Joris Stoff</h1>
                        <button class="btn btn-secondary headline-sm d-none">
                            About me
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>